.background-slide {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0 !important;
  background-size: cover !important;
  background-position: top !important;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  opacity: 0;
  z-index: 1;
  background-attachment: fixed;
  overflow: scroll;

  &.active {
    opacity: 0.8;
  }

  &#slide-1 {
    background: url(../media/background1.jpg);
  }

  &#slide-2 {
    background: url(../media/background2.jpg);
  }

  &#slide-3 {
    background: url(../media/background3.jpg);
  }
  &#slide-4 {
    background: url(../media/background4.jpg);
  }
  &#slide-5 {
    background: url(../media/background5.jpg);
  }

  &.iframe-background {
    width: 100vw;
    height: 100vh;
  }
}
